<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>
   {% block title_head %}Base{% endblock title_head %}
   </title>
</head>
<body>

    <nav>
        <a href={% url "Inicio" %}>Inicio</a>
        <a href={% url "Ingreso UBA" %}>Ingreso UBA</a>
        <a href={% url "Carreras de Grado"  %}>Carreras de Grado</a>
    </nav>
    <main>
        {% block contenido %}
        
        {% endblock contenido %}

    </main>
</body>
</html>