<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>
   {% block title_head %}Base{% endblock title_head %}
   </title>
</head>
<body>

    <nav>
        <a href={% url "Inicio" %}>Inicio</a>
        <a href={% url "Sobre Mi" %}>Sobre Mi</a>
        <a href={% url "Ingreso UBA" %}>Ingreso UBA</a>
        <a href={% url "Carreras de Grado"  %}>Carreras de Grado</a>
        {% if request.user.is_authenticated %}
        <a href="#">{{request.user}}</a>
        <form action={% url "cerrar_sesion"  %} method="post">
            {% csrf_token %}
            <input type="submit" value="Cerrar Sesion">
        
        </form>
        
        {% else %}
        <a href={% url "iniciar_sesion"  %}>Iniciar Sesion</a>
        <a href={% url "registro"  %}>Registrate</a>
        {% endif %}
        
        
    </nav>
    <main>
        {% block contenido %}
        
        {% endblock contenido %}

    </main>
</body>
</html>